SACTN_SACTN_cs_tmean_CO.Rdata
SACTN_SACTN_hw_tmean_CO.Rdata
SACTN_SAWS_cs_tmax_CO.Rdata
SACTN_SAWS_cs_tmean_CO.Rdata
SACTN_SAWS_cs_tmin_CO.Rdata
SACTN_SAWS_hw_tmax_CO.Rdata
SACTN_SAWS_hw_tmean_CO.Rdata
SACTN_SAWS_hw_tmin_CO.Rdata
SAWS_SAWS_cs_tmax_CO.Rdata
SAWS_SAWS_cs_tmean_CO.Rdata
SAWS_SAWS_cs_tmin_CO.Rdata
SAWS_SAWS_hw_tmax_CO.Rdata
SAWS_SAWS_hw_tmean_CO.Rdata
SAWS_SAWS_hw_tmin_CO.Rdata
