BRAN_temp_all.Rdata
BRAN_temp_apr.Rdata
BRAN_temp_aug.Rdata
BRAN_temp_clim.Rdata
BRAN_temp_daily.Rdata
BRAN_temp_dec.Rdata
BRAN_temp_feb.Rdata
BRAN_temp_jan.Rdata
BRAN_temp_jul.Rdata
BRAN_temp_jun.Rdata
BRAN_temp_mar.Rdata
BRAN_temp_may.Rdata
BRAN_temp_monthly.Rdata
BRAN_temp_nov.Rdata
BRAN_temp_oct.Rdata
BRAN_temp_sep.Rdata
BRAN_u_apr.Rdata
BRAN_u_aug.Rdata
BRAN_u_clim.Rdata
BRAN_u_daily.Rdata
BRAN_u_dec.Rdata
BRAN_u_feb.Rdata
BRAN_u_jan.Rdata
BRAN_u_jul.Rdata
BRAN_u_jun.Rdata
BRAN_u_mar.Rdata
BRAN_u_may.Rdata
BRAN_u_nov.Rdata
BRAN_u_oct.Rdata
BRAN_u_sep.Rdata
BRAN_uv_daily.Rdata
BRAN_v_apr.Rdata
BRAN_v_aug.Rdata
BRAN_v_clim.Rdata
BRAN_v_daily.Rdata
BRAN_v_dec.Rdata
BRAN_v_feb.Rdata
BRAN_v_jan.Rdata
BRAN_v_jul.Rdata
BRAN_v_jun.Rdata
BRAN_v_mar.Rdata
BRAN_v_may.Rdata
BRAN_v_nov.Rdata
BRAN_v_oct.Rdata
BRAN_v_sep.Rdata
BRAN_anom.Rdata
BRAN_norm.Rdata
